body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #fff;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #0fdb6a;
    text-transform: uppercase;
}

.card {
    background: #1b1b1b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #0fdb6a44;
}

label {
    font-size: 15px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background: #0fdb6a;
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #10ff78;
}

.resultado {
    margin-top: 20px;
    background: #1b1b1b;
    padding: 15px;
    border-radius: 10px;
    white-space: pre-wrap;
    text-align: left;
    border-left: 4px solid #0fdb6a;
}

/* Mobile */
@media (max-width: 480px) {
    h1 {
        font-size: 22px;
    }

    input, button {
        font-size: 16px;
    }
}
